server {
	listen ${NGINX_LISTEN_PORT} default_server;
	listen [::]:${NGINX_LISTEN_PORT} default_server;

	root ${DOCUMENT_ROOT};
	index index.php index.html index.htm;

	server_name _;

	location /ping {
		access_log off;
		return 200 'pong';
	}

	location / {
		if ($remote_addr ~ ^(127.0.0.1|::1)$) {
			access_log off;
		}
		try_files $uri $uri/ =404;
	}

	location ~ [^/]\.php(/|$) {
		if ($remote_addr ~ ^(127.0.0.1|::1)$) {
			access_log off;
		}
		include fastcgi-php.conf;
		fastcgi_pass unix:/var/run/php-fpm.sock;
	}

	location ~ /\.ht {
		deny all;
	}
}
